# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
hw/G0-DevBoard/History/G0-DevBoard.~(1).PrjPcb.Zip
hw/G0-DevBoard/__Previews/P01_Cover_Sheet.SchDocPreview
*.SchDocPreview
*.Zip
hw/G0-DevBoard/__Previews/P100_G0-DevBoard.PcbDocPreview
hw/G0-DevBoard/__Previews/P100_G0-DevBoard.PcbDocPreview
*.LOG
*.LOG
hw/G0-DevBoard/Project Outputs for Free Documents/2022-08-01.rar
